<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Day of request</th>
          <th scope="col">Name</th>
          <th scope="col">Manager</th>
          <th scope="col">Type of request</th>
          <th scope="col">From</th>
          <th scope="col">To</th>
          <th scope="col">Q-ty of working days</th>
          <th scope="col">Status</th>
          <th scope="col">Note</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
